@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


:root {
  --primary-color: #454545;
  --secondary-color: #ADBFB8;
}

.bg-prim {
  background-color: #454545;
}
.bg-sec {
  background-color: #ADBFB8;
}
.bg-accent {
  background-color: #31C369;
}

.dropdown-item:hover {
  background-color: transparent !important;
}
.text-prim {
  color: #454545;
  font-family: 'Josefin Slab', Fallback, sans-serif !important;
}
.text-sec {
  color: #ADBFB8 !important;
  font-family: 'Josefin Slab', Fallback, sans-serif !important;
}
.text-accent {
  color: #31C369 !important;
  font-family: 'Josefin Slab', Fallback, sans-serif !important;
}
li:hover, .pointer {
  cursor: pointer;
}
.nav-link {
  transition: 0.3s !important;
  
}
.nav-link:hover {
  color: #31C369 !important;

}

.logo {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.logo:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.1);
}
.icon {
  transition: 0.3s !important;
}
.icon:hover {
  color: #31C369 !important;
}

.loginbutton:active {
  background-color: transparent !important;
  border-color: transparent !important;
}

.row-content {
  margin-top: 1000px;
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.jumbotron {
  background-image: url('../public/assets/images/jumbotron1.png');
  background-repeat: no-repeat;
background-size: cover;
  background-position: 25% 65%;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
